<div>
  <span class="circle">
    <img src="<%= current_user.picture %>" alt="user" >
  </span>

  <%= simple_form_for([post, comment], remote: true) do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control", placeholder: "write your comment here...", :html => {:class => nil} %>
    </div>
  <% end %>
</div>

<%= content_for :after_js do %>
   <%= javascript_tag do %>
    $("#comment_body").keypress(function(event) {
        if (event.keyCode == 13 && !event.altKey) {
            event.preventDefault();
            $("form").submit();
        }
    });
  <% end %>
<% end %>

