<ul id="lastComment" class="list-group" id="comment-<%= comment.id %>">
  <li class="list-group-item">
    <span class="circle">
      <img src="<%= comment.user.picture %>" alt="user">
    </span>
    <span class="title">
      <%= comment.user.first_name %> <%= comment.user.last_name %> <time> <%= time_ago_in_words(comment.created_at) %> ago </time>
      <p><%= comment.body %></p>
    </span>
    <% if current_user == comment.user %>
      <ul class="actions" href="#">
        <li class="roff">
          <%= link_to "delete", [comment.post, comment], method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "delete" %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>
