<div id="sidebar-wrapper">

  <!-- USER PROFILE -->
  <div class="user-profile ">
    <%= image_tag (@user.picture ? @user.picture : @user.picture.url(:thumb)), class: "avatar", alt: "user-picture" %>
    <%= link_to user_path(current_user), class: "username" do %>
      <%= @user.first_name %> <%= @user.last_name %>
    <% end %>
    <div class="bio">
      <!-- Senior UI Designer -->
    </div>
    <div class="description">
  <!--       I use to design websites and applications
        for the web. -->
    </div>
    <ul class="data">
      <li> <h4>145</h4><%= link_to '<i class="fa fa-hand-spock-o "></i><br> Flykkes given'.html_safe, root_path %></li>
      <li><h4>145</h4><%= link_to '<i class="fa fa-users "></i><br> Following'.html_safe, root_path %></li>
    </ul>
  </div>

<!--   MENU -->
  <ul class="sidebar-nav">
      <li><%= link_to '<i class="fa fa-connectdevelop"></i> &nbsp;&nbsp;DISCOVER'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-book"></i> &nbsp;&nbsp;CATALOG'.html_safe, user_path(current_user) %></li>
      <li><%= link_to '<i class="fa fa-user"></i> &nbsp;&nbsp;PROFILE'.html_safe, edit_user_path(current_user) %></li>
      <li><%= link_to '<i class="fa fa-pie-chart"></i> &nbsp;&nbsp;DASHBOARD'.html_safe, root_path %></li>
      <li><%= link_to '<i class="fa fa-power-off"></i> &nbsp;&nbsp;LOG OUT'.html_safe, destroy_user_session_path, method: :delete %></li>
  </ul>
</div>



<!-- link_to 'Followers', followers_user_path(current_user) -->






<!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->

    <!-- Menu Toggle Script -->
<!--     script
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    script -->


