<!-- FORM FOR POST CREATION -->

<!-- to review : connect the old form for below whith errors with the fields of the new form -->
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<!-- choose a category for the post -->
<div class="row">
  <div class= "text-center" >
    <h4 class="text-center">Choose the type of content you create</h4>
    <button type="button" class="btn btn-default post-category" id="charity-cat">Charity</button>
    <button type="button" class="btn btn-default post-category" id="music-cat">Music</button>
    <button type="button" class="btn btn-default post-category" id="news-cat">News</button>
    <button type="button" class="btn btn-default post-category" id="photos-cat">Photos</button>
    <button type="button" class="btn btn-default post-category" id="videos-cat">Videos</button>
  </div>
</div>

<hr>

<!-- url to fill, then a preview of the post will append on the result div -->
<div class="row">
  <div class="text-center col-xs-6 col-md-offset-3">
    <h4>Enter the url of your creation</h4>
    <%= simple_form_for(@post, :url => new_preview_path, remote: true) do |f| %>
      <%= f.input :url %>
      <%= hidden_field_tag :category, nil, id: "preview_category" %>
      <%= f.submit 'load url', :id => 'submit_url', disabled: true  %>
    <% end %>
  </div>
</div>

  <div id="results">
  </div>


<hr>

<!-- tags list for the post -->
<div class="row">
  <div class="text-center col-xs-6 col-md-offset-3">
    <h4>Choose 3 to 5 interests</h4>
  </div>
</div>

<hr>

<div class="row">
  <div class="text-center">
    <p>By clicking Submit your creation, you agree to be the creator of this content <br> and to the <a href="">Flykke Pages Terms</a>.</p>
  </div>
</div>

<br>

<!-- fill the hidden form for the post creation with js -->
<div class="js-post-hidden-form">
  <%= render 'hidden_form', post: @post %>
</div>



