<div class="row">
  <div class= "text-center" >
    <h4 class="text-center">Choose a category of content to browse</h4><br>
    <button type="button" class="navbar-wagon-button btn post-category" id="charity-cat">All</button>
    <button type="button" class="navbar-wagon-button btn post-category" id="charity-cat"><i class="fa fa-globe"></i>  Charity</button>
    <button type="button" class="navbar-wagon-button btn post-category" id="music-cat"><i class="fa fa-music"></i>  Music</button>
    <button type="button" class="navbar-wagon-button btn post-category" id="news-cat"><i class="fa fa-newspaper-o"></i>  News</button>
    <button type="button" class="navbar-wagon-button btn post-category" id="photos-cat"><i class="fa fa-camera"></i>  Photos</button>
    <button type="button" class="navbar-wagon-button btn post-category" id="videos-cat"><i class="fa fa-video-camera"></i>  Videos</button>
  </div>
</div>

<br>

<div class="row">
  <% posts.each do |post| %>
    <div class="media col-xs-8 col-md-offset-2">
      <div class="media-body">
        <%= link_to post.url, :target => "_blank", class: "media-link" do %>
          <section class="media-section">
             <h2><%= post.title %> <span class="label label-primary pull-right"><%= post.category %></h2></span>
          </section>
          <section class="media-section">
            <img src="<%= post.image %>" alt="post-image" class="post-img img-responsive">
          </section>
          <section class="media-section">
            <h3><%= post.description %></h3>
            <% if post.site_name? %>
              <h4><%= post.site_name %></h4>
            <% else %>
              <h4><%= post.url %></h4>
            <% end %>
          </section>
        <% end %>
      </div>

      <div class="media-aside">
        <section class="media-section text-center">
          <img src="<%= post.user.picture %>" alt="book-cover" class="media media-profile-picture result-img img-responsive">
          <small><%= time_ago_in_words(post.created_at) %> ago - by
            <%= link_to user_path(post.user) do %>
              <%= post.user.first_name %> <%= post.user.last_name %>
            <% end %>
          </small>
          <%= render 'follows/form', user: post.user %>
        </section>
        <section class="media-section">
          <h2>Share</h2>
          ...
        </section>
        <section class="media-section">
          <%= render 'likes/form', post: post %>
        </section>
      </div>
    </div>

    <div class="card col-xs-8 col-md-offset-2">
      <div class="card paper">
        <details>
          <summary style="padding:1em;">
            <div class="comments-logo">
                <h4 id="comment_title">
                  <i class="fa fa-comment"><%= render 'posts/comment_title', comments: post.comments %></i>
                </h4>
            </div>
          </summary>

          <div id="comments">
            <% post.comments.each do |comment| %>
              <%= render 'comments/comment', comment: comment %>
            <% end %>
          </div>
          <div class="form">
            <%= render 'comments/form', post: post, comment: Comment.new %>
          </div>
        </details>




      </div>
    </div>

    <% if current_user == post.user %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>
