<!--  THE FLYKKE'S POST STRUCTURE  -->
<div class="media col-xs-10 col-md-offset-2">
  <div class="media-body">
    <%= link_to post.url, :target => "_blank", class: "media-link" do %>
      <section class="media-section">
         <h2><%= post.title %> <span class="label label-primary pull-right"><%= post.category %></h2></span>
         <h4><i class="fa fa-clock-o"></i> <%= time_ago_in_words(post.created_at) %> ago</h4>
      </section>
      <section class="media-section">
        <img src="<%= post.image %>" alt="post-image" class="post-img img-responsive">
      </section>
      <section class="media-section">
        <h3><%= post.description %></h3>
        <% if post.site_name? %>
          <h4><%= post.site_name %></h4>
        <% else %>
          <h4><%= post.url %></h4>
        <% end %>
      </section>
    <% end %>
  </div>

<!-- media-aside / Flykke and Creator section -->
  <div class="media-aside">
    <!-- delete -->
    <% if current_user == post.user %>
      <%= link_to 'X', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "media-btn-delete" %>
    <% end %>

    <!-- Creator's Profile-section -->
    <section class="media-section text-center">
      <img src="<%= post.user.picture %>" alt="user-picture" class="media media-profile-picture result-img img-responsive">
      <small> By
        <%= link_to user_path(post.user) do %>
          <%= post.user.first_name %> <%= post.user.last_name %>
        <% end %>
      </small>
      <%= render 'follows/form', user: post.user %>
    </section>

    <!-- Upvotes + Flykkes Section  -->
    <section class="media-section ">
      <%= render 'likes/form', post: post %>
    </section>
  </div>
</div>


