<!-- <div class="card-container">
  <hr>
  <div class="row">
    <div class ="col-xs-offset-1 col-xs-2">
      <img src="<%= page.images.best %>" alt="book-cover" class="result-img img-responsive">
    </div>
    <div class ="col-xs-9 result-infos">
      <span> <%= category %> </span>
      <h3><%= page.best_title %></h3>
      <h4><%= page.description %></h4>
    </div>
  </div>
</div>
 -->
<div class="row">
  <div class="media col-xs-8 col-md-offset-2">
    <div class="media-body">
      <section class="media-section">
         <h3><%= page.best_title %></h3>
      </section>
      <section class="media-section">
         <img src="<%= page.images.best %>" alt="book-cover" class="result-img img-responsive">
      </section>
      <section class="media-section">
        <h4><%= page.description %></h4>
      </section>
    </div>
    <div class="media-aside">
      <section class="media-section">
        <img src="<%= current_user.picture %>" alt="book-cover" class="result-img img-responsive">
        ...
      </section>
      <section class="media-section">
        <h2>Share</h2>
        ...
      </section>
      <section class="media-section">
        <h2>382 upvotes</h2>
        ...
      </section>
    </div>
  </div>
</div>

