<div class="activity-comment">
  <% if activity.trackable %>
    <div class="info">
      <%= render 'shared/avatar', user: activity.owner %>
      <h4 class="name"><%= activity.owner.first_name %> <%= activity.owner.last_name %></h4>
      <span class="action">commented on a <%= link_to 'post', activity.trackable.commentable %></span>
      <!-- activity.trackable.commentable renvoie nil => il faut trouver pourquoi et le régler!! -->
    </div>
    <div class="content">
      <h4><small><%= activity.trackable.body %></small></h4>
    </div>
    <%= render 'shared/created_at', activity: activity %>
    <% end %>
</div>
